* {
  padding: 0;
  margin: 0;
}
.main_header {  
  width: 80%;
  height: 5.12rem;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: auto;
  align-items: center;
}
.main_header button{
  background-color: rgb(255, 255, 255);
}
/* .mob_header_menu {
  display: block;
} */
@media (max-width: 900px) {
  .main_header {
    width: 90%;
   
  }
  .btn1 {
    display: block;
    font-size: 1rem;
  }
  
  .btn2 {
    display: none;
  }
  img {
   width: 2rem;
   height: 2rem;
  }
  /* .btn_container{
    background-color: #40ff00;
    position: absolute;
    
    
  } */
}
@media (max-width: 480px) {
  .main_header {
    width: 90%;
  }
  .btn1 {
    font-size: .7rem;
    display: block;
    margin-left: -.5rem;
    margin-right: -1rem;
    background-color: white;
  }
  .toggle_menu_item li {
   margin-left: -1rem;
   background-color: aqua;
  }
}
